<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="mt-5 font-weight-bold text-center">Les statistiques du COVID-19 en Tunisie</h4>
        </div>
    </div>
    <div class="row mt-3 pt-3">
        <div class="col-md-12">
            <!-- Card group -->
            <div *ngIf="infectionData != undefined" class="card-group">


                <!-- Card -->
                <div class="card mb-4 alert alert-info">
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h6 class="card-title">Cas confirmés: </h6>
                        <!-- Text -->
                        <p class="card-text red-text"><i class="fas fa-clipboard-check fa-2x"></i><span class="ml-2"
                                style="font-size: 30px;">{{infectionData.cases}}</span></p>
                    </div>
                    <!-- Card content -->
                </div>
                <!-- Card -->

                <!-- Card -->
                <div class="card mb-4 alert alert-success">
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h6 class="card-title">Rétabli(s): </h6>
                        <!-- Text -->
                        <p class="card-text red-text"><i class="fas fa-heart fa-2x"></i><span class="ml-2"
                                style="font-size: 30px;">{{infectionData.recovered }}</span></p>
                    </div>
                    <!-- Card content -->
                </div>
                <!-- Card -->

                <!-- Card -->
                <div class="card mb-4 alert alert-danger">
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h6 class="card-title">Décès: </h6>
                        <!-- Text -->
                        <p class="card-text red-text"><i class="fas fa-book-dead fa-2x"></i><span class="ml-2"
                                style="font-size: 30px;">{{infectionData.deaths }}</span></p>
                    </div>
                    <!-- Card content -->
                </div>
                <!-- Card -->

                <!-- Card -->
                <div class="card mb-4 alert alert-warning">
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h6 class="card-title">Cas critiques: </h6>
                        <!-- Text -->
                        <p class="card-text red-text"><i class="fas fa-heartbeat fa-2x"></i><span class="ml-2"
                                style="font-size: 30px;">{{infectionData.critical}}</span></p>
                    </div>
                    <!-- Card content -->
                </div>
                <!-- Card -->

                <!-- Card -->
                <div class="card mb-4 alert alert-light">
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h6 class="card-title">Cas en cours: </h6>
                        <!-- Text -->
                        <p class="card-text red-text"><i class="fas fa-procedures fa-2x"></i><span class="ml-2"
                                style="font-size: 30px;">{{infectionData.active}}</span></p>
                    </div>
                    <!-- Card content -->
                </div>
                <!-- Card -->


            </div>
            <!-- Card group -->
        </div>

    </div>
    <br><br>
    <div class="row">

        <div class="card col-md-12 col-xs-12 col-sm-12">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false"
                (mapClick)="mapClicked($event)" [styles]="mapStyle">
                <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)"
                    [latitude]="m.lat" [longitude]="m.lng" [label]="{
            color: '#ffffff',
            fontWeight: 'regular',
            text: (m.number).toString()
        }" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
                    <!--
      <agm-info-window>
        <strong>InfoWindow content</strong>
      </agm-info-window>
      -->
                </agm-marker>
                <!--
    <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
        [radius]="5000"
        [fillColor]="'red'"
        [circleDraggable]="true"
        [editable]="true">
    </agm-circle>
-->
            </agm-map>
            <button (click)="localizePosition()" class="btn btn-primary float d-none d-md-block" data-toggle="tooltip" data-placement="top" title="Ma position">
                <i class="fas fa-crosshairs my-float"></i>
            </button>
        </div>

        <div class="card col-md-12 col-xs-12 col-sm-12">
            <div class="chart-wrapper">
                <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                    [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
</div>

