<br>
<br>
<br>
<div class="container">
    <div class="row">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
        <div class="col text-center">
            <h2>Pour déclarer un cas d'infection,</h2>
            <h5>veuillez appelez l'un de ces numéros</h5>
            <p><i class="fas fa-phone "></i> <strong style="color: #00cec9;">190</strong> ou bien les numeros regionales</p>
        </div>



    </div>
    <div class="row text-center">
        <div class="col">
            <div class="counter">
                <h3 class="timer count-title count-number" data-to="100" data-speed="1500">Nord-Est</h3>
                <p><a href="tel:80101919">80.10.19.19</a></p>
                <p><a href="tel:71589271">71.589.271</a></p>
                <p><a href="tel:71589626">71.589.626</a></p>
                <p><a href="tel:71589596">71.589.596</a></p>
            </div>
        </div>
        <div class="col">
            <div class="counter">
                <h3 class="timer count-title count-number" data-to="1700" data-speed="1500">Nord-Ouest</h3>
                <p><a href="tel:80101919">80.10.19.19</a></p>
                <p><a href="tel:78613213">78.613.213</a></p>
            </div>
        </div>
        <div class="col">
            <div class="counter">
                <h3 class="timer count-title count-number" data-to="11900" data-speed="1500">Centre-Est</h3>
                <p><a href="tel:80101919">80.10.19.19</a></p>
                <p><a href="tel:73369090">73.369.090</a></p>
                <p><a href="tel:73369393">73.369.393</a></p>
                <p><a href="tel:74672372">74.672.372</a></p>
            </div>
        </div>
        <div class="col">
            <div class="counter">
                <h3 class="timer count-title count-number" data-to="157" data-speed="1500">Centre-Ouest</h3>
                <p><a href="tel:80101919">80.10.19.19</a></p>
                <p><a href="tel:76217608">76.217.608</a></p>
                <p><a href="tel:76217915">76.217.915</a></p>
                <p><a href="tel:76217920">76.217.920</a></p>
            </div>
        </div>
        <div class="col">
            <div class="counter">
                <h3 class="timer count-title count-number" data-to="157" data-speed="1500">Centre-Sud</h3>
                <p><a href="tel:80101919">80.10.19.19</a></p>
                <p><a href="tel:75294529">75.294.529</a></p>
            </div>
        </div>
    </div>
</div>